################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Backend/KeyZone/KeyZone.WebApi/appsettings.json
Backend/.vs
.vs